<%= form_with(model: product_category, class: "contents") do |form| %>
  <%= render 'shared/error_messages', object: product_category %>

  <div class="flex flex-col gap-6 p-4">
    <div class='flex flex-col gap-1'>
      <%= form.label :name, class: "uppercase text-sm font-medium" %>
      <%= form.text_field :name, class: 'bg-transparent border border-gray-300 p-3 outline-none w-3/4 focus:ring-transparent focus:outline-none shadow-none',
      required: true %>
    </div>
    <div class='flex flex-col gap-1'>
      <%= form.label :description, class: "uppercase text-sm font-medium" %>
      <%= form.text_area :description, class: 'bg-transparent border border-gray-300 p-3 outline-none w-3/4 focus:ring-transparent focus:outline-none shadow-none',
      required: true, rows: 6 %>
    </div>
    <div class="inline mt-4">
      <%= form.submit class: "rounded py-3 px-5 bg-primary text-white inline-block font-medium cursor-pointer border-none outline-none uppercase text-sm" %>
    </div>
  </div>
<% end %>

