<div class="px-2">
  <div class="bg-gray-50 border border-gray-300 rounded-lg mb-6">
    <h1 class="font-semibold text-lg uppercase px-4 pt-3">
      products (<%= @products.count %>)
    </h1>
    <hr class="my-1 border border-gray-300">

    <div class="px-4 pt-6 flex justify-between items-center">
      <div class="flex justify-start items-center gap-1">
        <%= form_with(url: products_path, method: "get") do %>
          <%= text_field_tag :search, params[:search], class: "bg-transparent w-80 p-3 text-xs text-gray-700 focus:ring-transparent focus:outline-none border border-gray-300 rounded" %>
          <button class="px-4 py-2 border border-gray-300 rounded bg-gray-100 text-gray-500 cursor-pointer" type="submit">
            <i class="fa-solid fa-search"></i>
          </button>
        <% end %>
        <%= link_to products_path, class: "px-4 py-2 border border-gray-300 rounded bg-gray-100 text-gray-500" do %>
          <i class="fa-solid fa-rotate-right"></i>
        <% end %>
      </div>

      <%= link_to new_product_path, class: "p-2 text-sm bg-secondary text-white block font-medium rounded hover:bg-secondary-dark flex items-center gap-2" do %>
        <i class="fa-solid fa-plus"></i>
        <span class="ml-2">New Product</span>
      <% end %>
    </div>

    <div class="flex justify-between items-center px-4 py-3">
      <table class="w-full text-left text-xs border-collapse border border-gray-300 mt-6">
        <thead class="bg-secondary text-white uppercase text-sm leading-normal">
          <tr>
            <th class="p-3 font-medium uppercase">#</th>
            <th class="p-3 font-medium uppercase">product</th>
            <th class="p-3 font-medium uppercase"> category </th>
            <th class="p-3 font-medium uppercase">brand</th>
            <th class="p-3 font-medium uppercase">subcategory</th>
            <th class="p-3 font-medium uppercase">medical condition</th>
            <th class="p-3 font-medium uppercase">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each_with_index do |product, index| %>
            <tr class="<%= cycle('bg-gray-100', '') %>">
              <td class="p-3">
                <%= index + 1 %>
              </td>
              <td class="p-3 flex flex-col items-start gap-3 w-1/2 ">
                <%= link_to product.name, product, class: "text-blue-500 capitalize" %>
              </td>
              <td class="p-3">
                <%=link_to product_category_path(product.product_category
                  ), class: "font-bold text-secondary text-xs flex gap-1 items-center" do %>
                    <i class="fa-solid fa-layer-group"></i>
                    <%= product.product_category.name %>
                  <% end %>
              </td>
              <td class="p-3">
                <%=link_to brand_path(product.brand
                  ), class: "font-bold text-secondary text-xs flex gap-1 items-center" do %>
                    <i class="fa-solid fa-tags"></i>
                    <%= product.brand.name %>
                  <% end %>
              </td>
              <td class="p-3">
                <% if product.product_subcategory.present? %>
                  <%=link_to product_subcategory_path(product.product_subcategory
                    ), class: "font-bold text-secondary text-xs flex gap-1 items-center" do %>
                      <i class="fa-solid fa-tag"></i>
                      <%= product.product_subcategory.name %>
                    <% end %>
                <% else %>
                  <span class="text-gray-500">N/A</span>
                <% end %>
              </td>
              <td class="p-3">
                <% if product.medical_condition.present? %>
                  <%=link_to medical_condition_path(product.medical_condition
                    ), class: "font-bold text-secondary text-xs flex gap-1 items-center" do %>
                      <i class="fa-solid fa-virus"></i>
                      <%= product.medical_condition.name %>
                  <% end %>
                <% else %>
                  <span class="text-gray-500">N/A</span>
                <% end %>
              </td>

              <td class="p-3">
                <%= link_to edit_product_path(product), class: "p-2  text-blue-500 rounded-lg" do %>
                  <i class="fa-solid fa-pencil"></i>
                <% end %>
                <div class='inline-block ml-2'>
                <%= button_to product_path(product), method: :delete, data: { confirm: "Are you sure?" }, class: "p-2 text-red-500 rounded-lg block" do %>
                  <i class="fa-solid fa-trash"></i>
                <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="flex justify-end">
      <%= will_paginate @products %>
    </div>
  </div>
</div>