<!DOCTYPE html>
<html>
  <head>
    <title>dawatele</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Shop for prescription and OTC medicines online in Nairobi, Kenya at dawatele. Fast delivery, great discounts, and easy ordering process.">
    <meta name="keywords" content="pharmacy, medicine, drugs, health, wellness, prescription, OTC, Nairobi, Kenya, dawatele">
    <meta name="author" content="dawatele">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta property="og:title" content="dawatele">
    <meta property="og:description" content="Shop for prescription and OTC medicines online in Nairobi, Kenya at dawatele. Fast delivery, great discounts, and easy ordering process.">
    <meta property="og:url" content="https://www.dawatele.com">
    <meta property="og:image" content="https://res.cloudinary.com/dlahz5ciz/image/upload/v1710693042/dawatele-landing_kss04a.png">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dawatele">
    <meta name="twitter:creator" content="@dawatele">
    <meta name="twitter:title" content="dawatele">
    <meta name="twitter:description" content="Shop for prescription and OTC medicines online in Nairobi, Kenya at dawatele. Fast delivery, great discounts, and easy ordering process.">
    <meta name="twitter:image" content="https://res.cloudinary.com/dlahz5ciz/image/upload/v1710693042/dawatele-landing_kss04a.png">
    

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/bfa19ffe9b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% if current_user&.admin? %>
      <%= render("layouts/sidebar/admin_sidebar") %>
    <% else %>
      <%= render("layouts/navbar") %>
    <% end %>
    <main class="relative <%= current_user&.admin? ? 'sm:pl-56 sm:pt-10' : '' %>">
      <% unless flash.empty? %>
        <div id="flash" class="text-white sm:pl-20 absolute top-0 right-0 z-50 w-[50%]">
          <% flash.keys.each do |k| %>
            <div class="sm:px-20 px-8 py-9 flex justify-center items-center gap-4 border-l-8 text-sm
            <% if k == 'alert' %>
              border-red-500 bg-red-50 text-red-500
            <% elsif k == 'notice' %>
              border-blue-500 bg-blue-50 text-blue-500
            <% elsif k == 'success' %>
              border-green-500 bg-green-50 text-green-500
            <% elsif k == 'error' %>
              border-red-500 bg-red-50 text-red-500
            <% elsif k == 'warning' %>
              border-yellow-500 bg-yellow-50 text-yellow-500
            <% elsif k == 'info' %>
              border-blue-500 bg-blue-50 text-blue-500
            <% else %>
              border-gray-500 bg-gray-50 text-gray-500
            <% end %>
            ">
              <%= flash[k] %>
              <div class="cursor-pointer" onclick="document.getElementById('flash').classList.add('hidden')">
                <i class="fa-solid fa-times"></i>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
